.highlight code {
    line-height: 1.4rem;
}

.md-typeset .admonition {
    font-size: unset !important;
}

.md-typeset code {
    font-size: 0.85rem;
    letter-spacing: 0.01rem;
}

.md-typeset table:not([class]) {
    font-size: unset !important ;
}

img {
    float: left;
    width: 45%;
    margin: 5% 5% 5% 0;
}

@media (max-width: 700px) {
    img {
        float: unset;
        margin: unset;
    }
}

@media (max-width: 400px) {
    img {
        width: 100%;
    }
}