@charset "UTF-8";
body, button {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal; }

.btn-group::after, .fiche__titre {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal; }

h2,
h3, .btn-group, .title-site, .lang-box__flag, .lang-box__separator, .navigation__link, .fiche__cle, .connexions__libelle, .search-box__input, .command-board__btn {
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
  font-style: normal; }

.title-site__bold, .lang-box__flag--active, .navigation__link--active {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  font-style: normal; }

.fiche__label, .search-list li, .card__label {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-style: normal; }

.lateral, .btn-group, .entete__fixe.entete__fixe--active, .fiche__img, .search-box__input, .card, .card__img {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.sort-alphabetic-list, .overflow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

@font-face {
  font-family: 'Open Sans Condensed';
  src: url("./font/OpenSansCondensed-Light.woff2") format("woff2"), url("./font/OpenSansCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("./font/OpenSans-SemiBold.woff2") format("woff2"), url("./font/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("./font/OpenSans-Italic.woff2") format("woff2"), url("./font/OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("./font/OpenSans-Regular.woff2") format("woff2"), url("./font/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Inconsolata';
  src: url("./font/Inconsolata-Regular.woff2") format("woff2"), url("./font/Inconsolata-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Inconsolata';
  src: url("./font/Inconsolata-Bold.woff2") format("woff2"), url("./font/Inconsolata-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

body {
  font-size: 14px;
  line-height: 160%; }

h1 {
  font-size: 28px; }

h2 {
  margin: unset;
  font-size: 24px; }

h3 {
  margin: unset;
  font-size: 18px; }

body {
  cursor: default;
  padding: 0;
  margin: 0;
  overflow: hidden; }

main {
  position: relative;
  width: 100%; }

button:focus {
  outline: none; }

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  margin: 0 10px; }
  .burger__branch {
    width: 100%;
    height: 3px;
    background-color: #141414; }

.lateral {
  box-sizing: border-box;
  position: absolute;
  width: 320px;
  top: 0px;
  background-color: #fffcfb;
  height: calc(100vh - 90px);
  z-index: 100;
  transition: transform .2s;
  transition-timing-function: cubic-bezier(0.96, 0, 0.19, 1.12); }
  .lateral--left {
    left: 0px;
    transform: translate(-100%); }
  .lateral--right {
    right: 0px;
    transform: translate(100%); }
  .lateral--active {
    transform: translate(0%); }
  .lateral--fixed {
    position: fixed;
    top: 90px; }
  .lateral__entete {
    display: flex;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .lateral__btn-control {
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    border: unset;
    font-size: 15px;
    padding: 2px 0;
    height: 25px;
    background-color: black;
    color: white; }
    .lateral__btn-control--imp {
      background-color: #e2be48;
      color: black; }
    .lateral__btn-control--hidde {
      display: none; }

.btn-group {
  position: relative;
  border: unset;
  display: block;
  padding: 6px 30px 6px 12px;
  margin: 0 4px;
  border-radius: 3px;
  width: 100%;
  font-size: 14px;
  color: white; }
  .btn-group:first-child {
    margin: 0 2px 0 0; }
  .btn-group--large {
    box-shadow: unset;
    border-radius: unset;
    margin: unset;
    padding: 7px 30px 7px 10px; }
  .btn-group::after {
    position: absolute;
    content: '✓';
    color: black;
    width: 15px;
    height: 15px;
    top: 20%;
    background-color: white;
    border-radius: 2px;
    right: 10px;
    padding: 2px;
    box-sizing: border-box;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .btn-group.active::after {
    content: ''; }

.introduction {
  overflow-y: auto;
  padding: 10px;
  height: calc(100vh - 50px); }
  .introduction h1 {
    margin: 0; }
  .introduction__img-otlet {
    height: 50%;
    min-width: 150px;
    max-width: 300px;
    margin-bottom: 10px; }
  .introduction__logo-list {
    display: flex;
    flex-wrap: nowrap; }
  .introduction__logo {
    width: 50px;
    margin: 10px;
    -o-object-fit: contain;
    object-fit: contain; }

.entete {
  position: relative;
  box-sizing: border-box;
  z-index: 999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .entete__fixe {
    left: 0px;
    padding: 10px 20px 0 20px; }
    .entete__fixe.entete__fixe--active {
      box-sizing: border-box;
      position: fixed;
      top: 0px;
      left: 0px;
      background-color: white;
      width: 100%;
      height: 90px; }
  .entete__top {
    display: flex;
    justify-content: space-between; }
  .entete__col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px; }
  .entete__identite {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 10px; }

.title-site {
  margin: unset;
  text-transform: uppercase;
  letter-spacing: 1px; }

.lang-box {
  display: flex; }
  .lang-box__flag {
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 18px; }
    .lang-box__flag--active {
      text-decoration: underline; }
  .lang-box__separator {
    display: inline-block;
    font-size: 18px;
    margin-right: 4px; }

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .navigation__list {
    display: flex;
    list-style: none;
    padding: unset;
    margin: unset;
    margin: 0 20px 10px 0; }
  .navigation__link {
    cursor: pointer;
    position: relative;
    margin: 0 5px;
    padding: 5px 7px;
    color: black;
    font-size: 18px; }
    .navigation__link:first-child {
      padding: 5px 7px 5px 0;
      margin: 0 5px 0 0; }
    .navigation__link--active {
      text-decoration: underline; }
    .navigation__link:hover {
      text-decoration: underline; }
  .navigation__globe {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    background-image: url("./logos/logo_mundaneum_globe.png"); }

.toolbar {
  display: flex;
  justify-content: center; }
  .toolbar__section {
    display: flex;
    margin: 0 10px; }
    .toolbar__section:first-child {
      margin: 0 10px 0 0; }
    .toolbar__section:last-child {
      margin: 0 0 0 10px; }

.fiche__content {
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  visibility: hidden; }
  .fiche__content--visible {
    visibility: visible; }

.fiche__toggle-btn {
  position: absolute;
  top: calc(50% - 40px);
  right: 100%;
  background-color: #f0f0f0;
  border: unset;
  color: #222222;
  height: 80px;
  width: 40px;
  font-size: 20px;
  border-bottom-left-radius: 80px;
  border-top-left-radius: 80px; }
  .fiche__toggle-btn--active span {
    display: inline-block;
    transform: rotate(180deg); }

.fiche__btn-visualiser {
  border: unset;
  background-color: black;
  color: white;
  border-radius: 3px;
  font-size: 15px;
  margin: 5px 0; }

.fiche__identite {
  margin-bottom: 10px;
  display: flex; }

.fiche__img {
  border-radius: 2px;
  width: 150px;
  height: 210px;
  margin-right: 12px;
  -o-object-fit: cover;
  object-fit: cover; }

.fiche__text-resume {
  width: 150px; }

.fiche__label {
  display: inline-block;
  line-height: 115%;
  font-size: 25px;
  margin-bottom: 5px; }

.fiche__dates {
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 7px;
  margin-bottom: 10px; }

.fiche__wiki-link {
  margin-top: 15px;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color: #f7f7f7;
  border-radius: 3px;
  background-image: url("./icons/wikipedia.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px; }
  .fiche__wiki-link--visible {
    display: flex; }

.fiche__couple {
  display: flex;
  align-items: center;
  margin: 10px 0; }

.fiche__cle {
  font-size: 15px;
  margin-right: 7px;
  margin: 0 7px 0 0; }

.fiche__valeur {
  font-size: 18px; }

.fiche__description {
  margin-top: 20px;
  padding: 15px 0;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5; }
  .fiche__description::first-letter {
    float: left;
    font-size: 50px;
    top: 50px;
    padding-top: 8px;
    padding-right: 4px; }

.fiche--active {
  transform: unset; }

.connexions__libelle {
  display: inline-block;
  margin-top: 20px;
  font-size: 18px; }

.connexions__list {
  list-style: none;
  padding: 0; }

.connexions__elt {
  display: flex;
  align-items: center;
  padding: 6px 2px;
  cursor: pointer; }
  .connexions__elt:hover .connexions__puce {
    transform: scale(1.4); }

.connexions__puce {
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 7px;
  border-radius: 50%;
  transition: transform .1s; }

.search-box {
  position: relative; }
  .search-box__label {
    cursor: pointer;
    position: absolute;
    width: 24px;
    height: 27px;
    background-size: 15px;
    background-color: white;
    background-image: url("./icons/search.svg");
    display: block;
    left: 0px;
    z-index: 1;
    top: 0px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px 0 0 3px; }
  .search-box__input {
    position: relative;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 5px;
    border: unset;
    text-indent: 30px;
    width: 100%;
    height: 27px; }

.search-list {
  position: absolute;
  z-index: 100;
  font-size: 18px;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .search-list li {
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    background: #fffcfb;
    border-top: 1px solid black; }
    .search-list li:hover {
      background-color: #ebebeb; }

.network-wrapper {
  position: relative;
  width: 100vw;
  height: calc(100vh - 90px);
  background-color: #1b1b1b; }

.network {
  height: 100%; }
  .network__btn {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 15px;
    border: unset;
    width: 50px;
    height: 50px;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(66, 66, 66, 0.5));
    filter: drop-shadow(0px 0px 10px rgba(66, 66, 66, 0.5)); }
    .network__btn--right {
      right: 15px;
      background: url("./icons/infos.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px; }
    .network__btn--left {
      left: 15px;
      background: url("./icons/filter.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px; }

.command-board {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0 0 10px 10px; }
  .command-board__btn {
    cursor: pointer;
    background: black;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 15px;
    padding: 5px;
    color: white;
    min-width: 30px;
    height: 30px;
    margin: 7px 0; }
    .command-board__btn--dezoom {
      background: url("./icons/dezoom.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 15px;
      border-radius: 50% 0 0 50%;
      background-color: #f0f0f0; }
    .command-board__btn--zoom {
      border-left: unset;
      background: url("./icons/zoom.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 15px;
      border-radius: 0 50% 50% 0;
      background-color: #f0f0f0; }

.board {
  position: relative; }
  .board__wrapper {
    overflow: auto;
    box-sizing: border-box;
    height: calc(100vh - 90px);
    padding-left: 40px;
    width: calc(100% - 320px); }
  .board__section {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0; }
  .board__section-title {
    display: inline-block;
    font-size: 28px;
    border-bottom: 1px solid black;
    width: 100%;
    margin-top: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    line-height: 140%; }

.sort-alphabetic-list {
  position: absolute;
  left: 0px;
  list-style: none;
  padding: unset;
  margin: unset;
  margin: 5px 0;
  padding: 15px 7px;
  height: 100%;
  box-sizing: border-box; }
  .sort-alphabetic-list__caracter {
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    margin: 5px;
    font-family: monospace;
    font-size: 18px; }
    .sort-alphabetic-list__caracter:hover {
      text-decoration: underline; }

.card {
  position: relative;
  cursor: pointer;
  margin: 20px;
  width: 210px;
  height: auto;
  border-radius: 3px;
  padding: 5px; }
  .card__presentation {
    display: flex;
    margin-bottom: 20px; }
  .card__img {
    width: 80px;
    height: 100px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 3px 0 0 0; }
  .card__identite {
    width: 120px;
    padding: 5px 0 0 10px; }
  .card__label {
    margin: 0 0 5px 0;
    overflow-wrap: break-word;
    font-size: 20px; }
  .card__titre {
    margin: 10px; }

.overflow {
  visibility: hidden;
  position: absolute;
  z-index: -1;
  border-radius: 3px;
  background-color: white;
  box-sizing: border-box;
  padding: 5px; }
  .overflow--active {
    visibility: visible;
    z-index: 999; }
