body, .btn-group, .title-site, .search {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-style: normal; }

.title-site__bold {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("./font/SourceSansPro-Regular.woff2") format("woff2"), url("./font/SourceSansPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("./font/SourceSansPro-SemiBold.woff2") format("woff2"), url("./font/SourceSansPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("./font/SourceSansPro-Italic.woff2") format("woff2"), url("./font/SourceSansPro-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

body {
  cursor: default;
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

main {
  position: relative;
  width: 100%;
  height: calc(100vh - 132px); }

.btn-group {
  border: unset;
  display: block;
  padding: 7px;
  width: 100%;
  font-size: 18px;
  color: white; }
  .btn-group.active {
    text-decoration: line-through; }

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  margin: 0 10px; }
  .burger__branch {
    width: 100%;
    height: 3px;
    background-color: #141414; }

.lateral {
  overflow-y: auto;
  box-sizing: border-box;
  position: absolute;
  width: 300px;
  top: 0px;
  background-color: #fffcfb;
  height: 100%;
  z-index: 100;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: transform .2s;
  transition-timing-function: cubic-bezier(0.96, 0, 0.19, 1.12); }
  .lateral--left {
    left: 0px;
    transform: translate(-100%); }
  .lateral--right {
    right: 0px;
    transform: translate(100%); }
  .lateral--active {
    transform: translate(0%); }

.header {
  position: relative;
  box-sizing: border-box;
  z-index: 999;
  padding: 10px 5px;
  height: 130px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__identite {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit; }
  .header__logo {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    -o-object-fit: contain;
    object-fit: contain; }

.title-site {
  margin: unset;
  text-transform: uppercase; }

.navigation__list {
  display: flex;
  list-style: none;
  padding: unset;
  margin: unset; }

.navigation__link {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  margin: 0 20px; }
  .navigation__link a {
    text-decoration: none;
    color: inherit; }
  .navigation__link::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: black;
    bottom: -2px;
    left: 5px;
    transition: width .1s; }

.toolbar {
  display: flex;
  justify-content: space-between;
  margin: 20px 0; }
  .toolbar__button {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    display: flex;
    margin: 0 10px;
    padding: 10px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .toolbar__button--important {
      background-color: #e3ce88; }

.fiche {
  padding: 5px; }
  .fiche__content {
    visibility: hidden; }
    .fiche__content--visible {
      visibility: visible; }
  .fiche__identite {
    margin: 10px 0;
    display: flex; }
  .fiche__img {
    width: 100px;
    height: 100px;
    margin-right: 6px;
    -o-object-fit: cover;
    object-fit: cover; }
  .fiche__label {
    font-size: 25px;
    margin: 0; }
  .fiche__dates {
    margin: unset; }
  .fiche__libelle {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid black; }
  .fiche--active {
    transform: unset; }

.connexion-list {
  list-style: none;
  padding: 0; }
  .connexion-list__elt {
    border-top: 1px solid black;
    padding: 6px 2px;
    cursor: pointer;
    background: #e3ce88; }
    .connexion-list__elt:last-child {
      border-bottom: 1px solid black; }

.search {
  box-sizing: border-box;
  font-size: 22px;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: unset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-indent: 10px; }

.search-box {
  position: relative;
  width: 60%; }

.search-list {
  position: absolute;
  z-index: 100;
  font-size: 18px;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .search-list li {
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    background: #fffcfb;
    border-top: 1px solid black; }
    .search-list li:hover {
      background-color: #ebebeb; }

.command-board {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0 0 10px 10px; }
  .command-board__btn {
    background-color: black;
    border: unset;
    border-radius: 3px;
    font-size: 15px;
    padding: 5px;
    color: white;
    min-width: 30px;
    height: 30px; }
