@charset "UTF-8";
button, body, .title-site, .btn-fiche, .btn-group, .search-box__input {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-style: normal; }

.title-site__bold {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("./font/SourceSansPro-Regular.woff2") format("woff2"), url("./font/SourceSansPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("./font/SourceSansPro-SemiBold.woff2") format("woff2"), url("./font/SourceSansPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("./font/SourceSansPro-Italic.woff2") format("woff2"), url("./font/SourceSansPro-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

body {
  cursor: default;
  padding: 0;
  margin: 0;
  overflow: hidden; }

main {
  position: relative;
  width: 100%; }

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  margin: 0 10px; }
  .burger__branch {
    width: 100%;
    height: 3px;
    background-color: #141414; }

.lateral {
  overflow-y: auto;
  box-sizing: border-box;
  position: absolute;
  width: 300px;
  top: 0px;
  background-color: #fffcfb;
  height: calc(100vh - 105px);
  z-index: 100;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: transform .2s;
  transition-timing-function: cubic-bezier(0.96, 0, 0.19, 1.12); }
  .lateral--left {
    left: 0px;
    transform: translate(-100%); }
  .lateral--right {
    right: 0px;
    transform: translate(100%); }
  .lateral--active {
    transform: translate(0%); }
  .lateral--fixed {
    position: fixed;
    top: 105px; }

.introduction {
  overflow-y: auto;
  padding: 10px;
  height: calc(100vh - 80px); }
  .introduction__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70%; }
  .introduction__img-otlet {
    height: 230px;
    flex: 1;
    margin-right: 20px;
    -o-object-fit: contain;
    object-fit: contain; }
  .introduction__texte {
    flex: 2; }
  .introduction__logo-list {
    display: flex;
    flex-wrap: nowrap; }
  .introduction__logo {
    width: 50px;
    margin: 10px;
    -o-object-fit: contain;
    object-fit: contain; }

.entete {
  position: relative;
  box-sizing: border-box;
  z-index: 999; }
  .entete__fixe {
    left: 0px;
    padding: 10px 20px; }
    .entete__fixe.entete__fixe--active {
      box-sizing: border-box;
      padding: 10px 20px;
      position: fixed;
      top: 0px;
      left: 0px;
      background-color: white;
      width: 100%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .entete__top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .entete__identite {
    cursor: pointer;
    display: flex;
    align-items: center; }
  .entete__logo {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    -o-object-fit: contain;
    object-fit: contain; }

.title-site {
  margin: unset;
  text-transform: uppercase; }

.btn-fiche {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  margin: 0 10px;
  padding: 1px 7px;
  font-size: 18px;
  border-radius: 5px;
  border: unset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #e3ce88; }

.navigation__list {
  display: flex;
  list-style: none;
  padding: unset;
  margin: unset; }

.navigation__link {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  margin: 0 20px; }
  .navigation__link a {
    text-decoration: none;
    color: inherit; }
  .navigation__link::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: black;
    bottom: -2px;
    left: 5px;
    transition: width .1s; }

.toolbar {
  display: flex;
  justify-content: center;
  margin: 20px 0 10px 0; }
  .toolbar__section {
    display: flex;
    margin: 0 10px; }

.btn-group {
  position: relative;
  border: unset;
  display: block;
  padding: 3px 30px 3px 10px;
  margin: 0 2px;
  border-radius: 3px;
  width: 100%;
  font-size: 14px;
  color: white; }
  .btn-group::after {
    position: absolute;
    content: '✓';
    width: 15px;
    height: 15px;
    top: 4px;
    background-color: blue;
    border-radius: 2px;
    right: 10px;
    padding: 2px;
    box-sizing: border-box;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .btn-group.active::after {
    content: '';
    background-color: black; }

.fiche {
  padding: 5px; }
  .fiche__content {
    visibility: hidden; }
    .fiche__content--visible {
      visibility: visible; }
  .fiche__btn-visualiser {
    border: unset;
    background-color: black;
    color: white;
    border-radius: 3px;
    font-size: 15px;
    margin: 5px 0; }
  .fiche__identite {
    margin: 10px 0;
    display: flex; }
  .fiche__img {
    width: 100px;
    height: 100px;
    margin-right: 6px;
    -o-object-fit: cover;
    object-fit: cover; }
  .fiche__label {
    font-size: 25px;
    margin: 0; }
  .fiche__dates {
    margin: unset; }
  .fiche__libelle {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid black; }
  .fiche--active {
    transform: unset; }

.connexion-list {
  list-style: none;
  padding: 0; }
  .connexion-list__elt {
    border-top: 1px solid black;
    padding: 6px 2px;
    cursor: pointer;
    background: #e3ce88; }
    .connexion-list__elt:last-child {
      border-bottom: 1px solid black; }

.search-box {
  position: relative;
  margin-right: 20px; }
  .search-box__label {
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    background-size: 15px;
    background-image: url("./icons/search.svg");
    display: block;
    left: 7px;
    z-index: 1;
    top: 5px; }
  .search-box__input {
    position: relative;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 5px;
    border: unset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    text-indent: 30px; }

.search-list {
  position: absolute;
  z-index: 100;
  font-size: 18px;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .search-list li {
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    background: #fffcfb;
    border-top: 1px solid black; }
    .search-list li:hover {
      background-color: #ebebeb; }

.network-wrapper {
  position: relative;
  width: 100vw;
  height: calc(100vh - 105px); }

.network {
  height: 100%; }

.command-board {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0 0 10px 10px; }
  .command-board__btn {
    cursor: pointer;
    background: black;
    border: unset;
    border-radius: 3px;
    font-size: 15px;
    padding: 5px;
    color: white;
    min-width: 30px;
    height: 30px;
    margin: 7px;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(66, 66, 66, 0.5));
    filter: drop-shadow(0px 0px 10px rgba(66, 66, 66, 0.5)); }
    .command-board__btn--zoom {
      background: url("./icons/zoom.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px; }
    .command-board__btn--dezoom {
      background: url("./icons/dezoom.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px; }

.board__wrapper {
  overflow: auto;
  height: calc(100vh - 105px);
  margin-right: 300px; }

.board__conteneur {
  display: flex;
  flex-wrap: wrap; }

.sort-alphabetic-list {
  list-style: none;
  padding: unset;
  margin: unset;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 5px 20px; }
  .sort-alphabetic-list__caracter {
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    padding: 5px;
    font-family: monospace;
    font-size: 18px; }
    .sort-alphabetic-list__caracter::after {
      content: '';
      z-index: -1;
      position: absolute;
      bottom: 2px;
      left: 2px;
      height: 1px;
      width: 10px;
      background-color: black;
      transition: height .1s, width .05s; }
    .sort-alphabetic-list__caracter:hover {
      color: white; }
      .sort-alphabetic-list__caracter:hover::after {
        height: 100%;
        width: 100%;
        left: 0px;
        border-radius: 2px; }

.card {
  position: relative;
  cursor: pointer;
  margin: 20px;
  width: 240px;
  height: 400px;
  border-radius: 3px;
  box-shadow: #d0d0d0 0 1px 6px; }
  .card__img {
    width: 100%;
    height: 70%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 3px; }
  .card__label {
    margin: 0 0 10px 0;
    padding: 0 10px;
    text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff; }
  .card__date {
    font-size: 12px;
    margin-left: 10px; }
  .card__titre {
    padding: 0 10px;
    text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
    margin: 2px 0; }
