body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.volet {
    box-sizing: border-box;
    transform: translate(100%);
    position: absolute;
    z-index: 1000;
    padding: 10px 0 0 10px;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 300px;
    background-color: antiquewhite;
    border-left: 1px solid black;
    transition: transform .4s;
}

.volet div {
    margin: 10px 0;
}

.volet__img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.volet__label {
    font-size: 25px;
}

.volet--active {
    transform: unset;
}

.volet button {
    background-color: transparent;
    border: 2px solid rgb(150, 93, 25);
    font-style: italic;
    color: black;
}

.search {
    font-size: 22px;
    width: 100%;
    margin: 5px;
    border: 2px solid black;
    border-radius: 3px;
    padding: 2px;
}

.search-box {
    position: relative;
    width: 100%;
}

.search-list {
    position: absolute;
    z-index: 100;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

.search-list li {
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    background: #ccc;
    border-top: 1px solid black;
}

.search-list li:hover {
    background: rgb(165, 165, 165);
}

.commands-box {
    display: flex;
}

button {
    border: unset;
    padding: 2px 10px;
    font-size: 11px;
    margin: 0 4px;
    border-radius: 3px;
    color: white;
}

button.active {
    text-decoration: line-through;
}

button.controle {
    background-color: black;
}